name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  link-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --verbose --no-progress --include-fragments "**/README.md" --exclude '(facebook|twitter|linkedin|instagram|openai|star-history)\.com'
          fail: true
